@font-face {
    font-family: "jedi2";
    src: url(./jedi2.ttf);
}

body{
    background-image: url(../img/fondo.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.head{
    height: 20vh;
}

.headText{
    font-family: jedi2;
    font-size: 1.8rem;
}

.mainbtn{
    height: 3em;
    font-size: 1.5rem;
}

@media (min-width:541px){
    .headText{
        font-size: 3rem;
    }
}


.buttonStart{
    height: 80vh;
    font-family: jedi2;
}

a{
    text-decoration: none;
    color: gold;
}

/* estilos de players */

.buttonPlay{
    height: 80vh;
    font-family: jedi2;
}

.playerbtn{
    height: 3em;
    color: gold;
}

.inputPlayers{
    height: 3.5em;
}

@media (min-width:722px){
    .headText{
        font-size: 4.1rem;
    }
    .mainbtn{
        font-size: 2rem;
    }
    .inputPlayers{
        font-size: 1.3em;
    }
    .playerbtn{
        font-size: 2rem;
    }
}

/* estilos tablero */

.table{
    height: 80vh;
    font-family: jedi2;
}

.gameTable{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
}

.cell{
    border: 5px solid gold;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-family: jedi2;
    cursor: pointer;
}

/* Estilos pagina Victoria */

.victory{
    height: 100vh;
    font-family: fantasy;
}